nav#nav
  ul
    li.current
      a(href='/') Home
    li
      a(href='/pricing.html') Pricing
    li
      a(href='/about.html') About
    li
      a(href='two-sidebar.html') Services
script.
  (function () {
    var items = document.querySelectorAll('nav#nav li');
    if (items && items.length) {
      items.forEach(function (el) {
        var a = el.querySelector('a');

        if (a && a.getAttribute('href') === location.pathname) {
          el.classList.add('current');
        } else {
          el.classList.remove('current');
        }
      });
    }
  })();
